<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Primeiro SPA</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="card">  
        <div class="card-body">

            <div id="app">                                           
                
                <form>
                    <input type="hidden" v-model="product.id">

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" v-model="product.name" placeholder="Digite aqui" >
                        <small id="emailHelp" class="form-text text-muted">Escreva alguma observação aqui</small>
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="text" class="form-control" v-model="product.price" placeholder="Apenas números">                        
                    </div>         
                    <div v-if="product.id">
                        <button type="button" v-on:click="UpdateProduct()" class="btn btn-primary">Update</button>     
                        <button type="button" v-on:click="Novo()" class="btn btn-success">Novo</button>          
                    </div>      
                    <div v-else>
                        <button type="button" v-on:click="CreateProduct(product.name, product.price)" class="btn btn-success">Create</button>                             
                    </div>                                       
                </form>              
                
                <hr>

                <input type="button" v-on:click="GetProducts" value="Mostrar Produtos">   

                <table class="table table-hover table-sm">
                    <thead style="font-weight: bold;">
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Actions</td>                      
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="item in lista">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td>
                                <a v-on:click="GetProduct(item.id)" class="btn btn-primary">Edit</a>
                                <a v-on:click="DeleteProduct(item.id)" class="btn btn-danger">Delete</a>                        
                            </td>
                        </tr>
                    </tbody>
                </table>
                                
            </div>

        </div>
    </div>

    
    <script>          

        new Vue({
            el: "#app",

            data: {  
                product: {
                    id: null,
                    name: null,
                    price: null,
                },                
                lista: new Array(),                      
            },
            
            methods: {

                Novo: function() {
                    this.product.id = null;
                    this.product.name = null;
                    this.product.price = null;
                },  

                GerarGuid() {                   
                    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                        return v.toString(16);
                    });                    
                },
                

                //////////////////////////////////////// Consome API:

                GetProducts: function (events) {
                    axios
                        .get('http://localhost/DefaultApiAndUi/api/product')
                        .then(response => (this.lista = response.data))        
                        .catch(error => console.log(error))                             
                },

                GetProduct: function (id) {                    
                    axios
                        .get('http://localhost/DefaultApiAndUi/api/product/' + id)
                        .then(response => (this.product = response.data))        
                        .catch(error => console.log(error))      
                },

                CreateProduct: function (events) {                   
                    axios
                        .post(`http://localhost/DefaultApiAndUi/api/product?name=${this.product.name}&price=${this.product.price}`)
                        .then(response => (this.product = response.data))        
                        .catch(error => console.log(error))      
                },                

                UpdateProduct: function (events) {                                                           
                    axios
                        .put(`http://localhost/DefaultApiAndUi/api/product?id=${this.product.id}&name=${this.product.name}&price=${this.product.price}`)
                        .then(response => (this.product = response.data))        
                        .catch(error => console.log(error))      
                },

                DeleteProduct: function (id) {    
                    axios
                        .delete('http://localhost/DefaultApiAndUi/api/product/' + id)
                        .then(response => (this.product = response.data))        
                        .catch(error => console.log(error))          
                },
                
            }
        })      


    </script>

</body>
</html>